--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.3.1+cpu
torchvision==0.18.1+cpu
torchaudio==2.3.1+cpu

streamlit==1.40.0
pillow
numpy
pandas
scikit-learn
requests
transformers==4.42.4
timm
